* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

#main {
  display: flex;
  min-height: 90vh;
}
#main > article {
  flex: 1;
}

#main > nav {
  height: 90vh;
  order: -1;
}

article > header {
  text-align: center;
  font-size: large;
  font-weight: bolder;
  margin: 5px;
}

article > header > #faButton{
    color: #1975d2
}

.sidebar {
  flex: 0 0 15vw;
  background-color: #dfdfe1;
  left: 0px;
  font-size: medium;
}

.sidebar ul li {
  text-align: left;
  color: black;
  list-style: none;
  padding: 10px 10px;
  border-bottom: 2px solid rgba(202, 190, 190, 0.3);
}
.sidebar ul li:hover {
  background-color: #afb0b1;
}
.sidebar ul li.selectedTitle{
  background-color: #989999;
  font-weight: 550;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #1975d2;
  height: 10vh;
  font-size: medium;
}
.footerIcons {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#editButton {
  margin-left: 5%;
}
#faButton:hover {
    color: #1975d2;
}
#readerText {
  min-height: 75vh;
  max-height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
  padding: 1em;
}
.readerFooter {
  margin-top: 1%;
  margin-right: 5%;
  text-align: right;
}
#addPageButton {
  padding: 0.5em;
  border: none;
  background-color: white;
}
#addPageButton:hover {
    background-color: rgb(175, 173, 173);
}
#qwerty {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #e3e3e3;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
}
#editorMain {
  width: 95%;
  margin: auto;
}
#editorMain > input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}
#editorMain > #pageTitleLabel{
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
#editorArea {
  height: 50vh;
  background-color: white;
  overflow-y: auto;
  padding: 5px;
}
.editorClassName {
  height: 40vh;
}
.buttonArea {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.buttonArea > button {
  border: none;
  padding: 15px 10px;
  color: white;
  margin: 6px 3px;
  width: 10em;
  text-transform: uppercase;
  border-radius: 3px;
}

button#save {
  background-color: #aa66cc;
}

button#save:hover {
    background-color: #7b4994;
  }
button#back {
  background-color: #1975d2;
}
button#back:hover {
    background-color: #1a5da0;
  }